html {
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* global rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.bold {
    font-weight: bold;
}

.round-radius {
    border-radius: 20px;
}

.r-font {
    font-size: 1vw;
}

/* nav bar additioal styles */
.navbar {
    background-color: #feee00;
    height: 60px;
}

.hero-section {
    position: relative;
    min-height: 90vh;
}

.sticky-nav {
    position: fixed;
    bottom: 0;
    background-color: #feee00;
    width: 100%;
    height: 50px;
}

.banners {
    height: 900px;
}

.left-border {
    border-left: 1px solid #b9b2b2;
}

/* make the menus visible when hovering on an item */
.dropdown:hover .dropdown-menu {
    display: block;
  }

/* nav links */
.nav-links {
    background-color: #F7f7FA;
    height: auto;
    overflow: hidden;
}

.nav-links .main-links a {
    font-size: .9vw;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-links .main-links a:hover {
    background-color: #FFF;
}


/* START cart styles */

.summary-col {
    position: relative;
}

.cart {
    background-color: #F7f7FA;
    height: auto;
}

.summary {  
    background-color: #FFF;
    position: sticky ;
    top: 10px;
}

.cart-item {
    background-color: #FFF;
}

/* END cart styles */


/* Start  wishlish styles*/
.list-link {
    height: 90px;
    background-color: #EBECF0;
    width: 90%;
}
/* End  wishlish styles*/

/* foorter styles */

footer .all-links h6 {
    font-size: 1vw;
}

footer .support {
    background-color: #F7f7FA;
    height: 100px;
}

footer .support span {
    font-size: .9vw ;
}
footer .support h4 {
    font-size: 1.7vw ;
}

footer .support a {
    font-size: 1vw ;
}